/*font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;	
	/*border: thin solid #000;*/
}
body{
	background-image: url(../img/fg.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}
h1{
	font-family: 'Lobster', cursive;
	color: green;
	margin-left: 10 px;
	font-size: 60px;
	text-align: center;
}
h2{
	font-family: 'Lobster', cursive;
	color: #4B0082;
	margin-left: 10 px;
	font-size: 20px;
	text-align: left;
}
h3{	font-family: 'Lobster', cursive;
	color: gray;	
	font-size: 10px;
	text-align: center;
}
p {
	font-family: 'Lobster', cursive;
	color: 	#00008B;
	margin-left: 10 px;
	font-size: 20px;
	text-align: left;
}
header{
	font-color: white;
	width: 1000px;
	height: 150px;
	color: red;         /* semi-transparent solid blue */

	/*background: blue;*/
}
.menuprincipal
{
	width: 100%;
	height: 100px;
	/*border: 1px solid #000;*/
	padding: 10px;
}
.menuprincipal ul li
{
	float: left;
	margin: 10px 10px 10px;
	list-style-type: none;
	border: 1px solid #000;
}
.menuprincipal ul li a
{
	
	text-decoration: none ;
	color: green;
	background: black;
	border-radius: 10px;
	font-family: 'Lobster', cursive;
	}
.menuprincipal ul li a:hover 
{
	color: white;
}

section{
	width: 600px;	
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	/*border: thin solid #000;*/
}
aside{
	width: 350px;
	background: ;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	/*border: thin solid #000;*/
}
footer{
	width: 1000px;
	height: 70px;
	background: green;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	border: thin solid #000;
}

/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{padding: 7px;color: white; text-decoration: none;}
.menu:visited{padding: 7px; color: white;text-decoration: none;}
.menu:hover{padding: 7px; color: white;text-decoration: none; text-shadow: 0 0 5px white;}
.menu:active{padding: 7px; color: white;text-decoration: none;}
